# Binaries for programs and plugins
bin/*
*.out
*.o
*.h.gch
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
